language: node_js

node_js:
  - "10"
  - "8"
  - "6"

services:
  - postgresql

before_script:
  - psql -d postgres -c 'CREATE TABLE users(id serial PRIMARY KEY, username VARCHAR (50) NOT NULL);' -U postgres

notifications:
  email:
    on_success: never
    on_failure: always
